@namespace TestBucket.Components.Shared.Kanban
@typeparam T

<CascadingValue Value="@this">
    <div class="tb-kanban-board">
        @foreach (var column in GetColumns())
        {
            <DropZone T="T" OnDrop="async (item) => await OnDroppedOnColumn(item, column)">
                <div class="list">

                    <div class="title">@column</div>

                    @foreach (var item in GetItemsInColumn(column))
                    {
                        int hashCode = 0;
                        if(ColorHashFunc is not null)
                        {
                            hashCode = ColorHashFunc(item);
                            hashCode = Math.Abs(hashCode) % 10;
                        }

                        <Draggable T="T" Data="@item">
                            <div class="card" data-hash="@hashCode">
                                @if(ItemRenderer is not null)
                                {
                                    @ItemRenderer(item)
                                }
                            </div>
                        </Draggable>
                    }
                </div>
            </DropZone>
        }
    </div>
</CascadingValue>
