@attribute [Authorize()]
@page "/{TenantId}/Code/Components"
@using TestBucket.Components.Code.Controls
@using TestBucket.Components.Issues.Controls
@using TestBucket.Components.Shared.Profile
@using TestBucket.Components.Shared.Themeing.Models
@using TestBucket.Contracts.Fields
@using TestBucket.Domain
@using TestBucket.Domain.Appearance
@using TestBucket.Domain.Code.Models
@using TestBucket.Domain.Insights.Model
@using TestBucket.Domain.Testing.TestCases.Insights
@using TestBucket.Domain.Testing.TestCases.Search
@using TestBucket.Domain.Testing.TestRuns.Search
@layout CodeLayout
@inject ArchitectureController architectureController
@inject FieldController fieldController
@inject IStringLocalizer<SharedStrings> loc
@inject IStringLocalizer<CodeStrings> codeLoc
@inject AuthenticationStateProvider authenticationStateProvider 

<Splitter Class="container-fill pa-2" Bordered="false" Dimension="50" EnableMargin="false" Color="Color.Tertiary">
    <StartContent>
        @if (_project is not null)
        {
            <MudDataGrid 
            @ref="_grid"
            ServerData="LoadGridData"
            Dense Hover RowClass="tb-datarow cursor-pointer"
            RowClick="async (row) => await OnRowClicked(row.Item)"
            T="Component" SortMode="SortMode.None">

                <ToolBarContent>
                    <MudStack Row AlignItems="AlignItems.Center" Style="width: 100%" Class="pt-5">
                        <MudTextField Value="@_searchText" T="string" ValueChanged="OnSearch"
                                      Class="default-search"
                                      Clearable="true"
                                      Variant="Variant.Outlined"
                                      IconSize="Size.Small"
                                      Adornment="Adornment.Start"
                                      Placeholder="@loc["search"]"
                                      AdornmentIcon="@Icons.Material.Filled.Search" />

                        <MudSpacer />
                        <PermissionView Entity="PermissionEntityType.Architecture" Level="PermissionLevel.Write">
                            <Authorized>
                                <MudButton StartIcon="@Icons.Material.Filled.Add"
                                           Class="tb-button-new" OnClick="AddAsync" Variant="Variant.Filled">@loc["add"]</MudButton>
                            </Authorized>
                        </PermissionView>
                    </MudStack>
                </ToolBarContent>


                <ColGroup>
                    <col style="width: 80%" />
                    <col style="width: 10%;" />
                    <col style="width: 10%;" />
                </ColGroup>

                <Columns>
                    <TemplateColumn Title="@loc["name"]">
                        <CellTemplate>
                            <div class="name">@context.Item.Name</div>

                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn Title="@codeLoc["dev-lead"]">
                        <CellTemplate>
                            @if (context.Item.DevLead is not null)
                            {
                                <UserProfileImage UserName="@context.Item.DevLead" />
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn Title="@codeLoc["test-lead"]">
                        <CellTemplate>
                            @if (context.Item.TestLead is not null && context.Item.DevLead != context.Item.TestLead)
                            {
                                <UserProfileImage UserName="@context.Item.TestLead" />
                            }
                        </CellTemplate>
                    </TemplateColumn>

                </Columns>

                <PagerContent>
                    <MudDataGridPager T="Component" />
                </PagerContent>
            </MudDataGrid>
        }
    </StartContent>
    <EndContent>
        @if (_selectedComponent is not null)
        {
            <MudTabs Style="width: 100%">
                <MudTabPanel Text="@codeLoc["component"]">
                    <MudStack Class="pa-2">
                        <ArchitecturalComponentView Component="_selectedComponent" />
                    </MudStack>
                </MudTabPanel>
                <MudTabPanel Text="@loc["issues"]">
                    <IssueGrid @bind-SearchText="_issueSearchText" />
                </MudTabPanel>
                <MudTabPanel Text="@loc["test-cases"]">
                    <MudStack Style="width: 100%" Class="pa-2">
                        <TestCaseGrid Query="_testCaseQuery" QueryChanged="OnTestCaseQueryChanged" CompareFolder="false" Project="Project"/>
                        @if(_testsByCat is not null)
                        {
                            <InsightsChart State="State" Project="Project" ReadOnly="false" @bind-Spec="_testsByCat" />
                        }
                    </MudStack>
                </MudTabPanel>
                <MudTabPanel Text="@loc["test-results"]">
                    <TestCaseRunGrid @bind-Query="_testCaseRunQuery" />
                </MudTabPanel>
            </MudTabs>
        }
    </EndContent>
</Splitter>
   

@code {
    [Parameter] public string? TenantId { get; set; }
    [CascadingParameter] public TestProject? Project { get; set; }
    [CascadingParameter] public ApplicationState? State { get; set; }
    private TestProject? _project;
    private IReadOnlyList<Component> _components = [];
    private MudDataGrid<Component>? _grid;
    private Component? _selectedComponent;
    private SearchTestQuery _testCaseQuery = new();
    private SearchTestCaseRunQuery _testCaseRunQuery = new();
    private string _issueSearchText = "";

    private InsightsVisualizationSpecification? _testsByCat;
    private string _searchText = "";

    private void OnTestCaseQueryChanged(SearchTestQuery query)
    {
        _testCaseQuery = query;
        CreateTestCategoryChart(query.ToSearchText());
    }

    protected void OnSearch(string text)
    {
        _searchText = text;
        _grid?.ReloadServerData();
    }

    private async Task AddAsync()
    {
        await architectureController.AddComponentAsync();
        await ReloadAsync();
    }

    private async Task OnRowClicked(Component component)
    {
        _selectedComponent = component;
        if (_project is not null)
        {
            var q = $"component:\"{_selectedComponent.Name}\"";
            var testCaseFields = await fieldController.GetDefinitionsAsync(_project.Id, FieldTarget.TestCase);
            var testCaseRunFields = await fieldController.GetDefinitionsAsync(_project.Id, FieldTarget.TestCaseRun);
            _testCaseQuery = SearchTestCaseQueryParser.Parse(q, testCaseFields);
            _testCaseRunQuery = SearchTestCaseRunQueryParser.Parse(q, testCaseRunFields);
            _issueSearchText = q;

            CreateTestCategoryChart(q);
        }
    }

    private void CreateTestCategoryChart(string searchText)
    {
        _testsByCat = new InsightsVisualizationSpecification
        {
            Name = "count-per-testcategory",
            DataQueries = [new InsightsDataQuery
            {
                DataSource = TestCaseDataSourceNames.CountByCategory,
                Query = searchText
            }],
            DarkModeColors = new ChartColors()
            {
                Palette = DefaultPalettes.ReportingDefault,
                ColorMode = ChartColorMode.ByLabel,
                GridLineColor = "#444",
                TickLabelColor = "#777"
            },
            LightModeColors = new ChartColors()
            {
                Palette = DefaultPalettes.ReportingDefault,
                ColorMode = ChartColorMode.ByLabel,
                GridLineColor = "#ddd",
                TickLabelColor = "#aaa"
            },
            ShowLegend = true,
            ShowDataTable = false,
        };
    }

    private async Task EditAsync(Component component)
    {
        var state = await authenticationStateProvider.GetAuthenticationStateAsync();
        if (state.User.HasPermission(PermissionEntityType.Architecture, PermissionLevel.Write))
        {
            await architectureController.EditComponentAsync(component);
            await ReloadAsync();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        if(_project?.Id != Project?.Id && Project is not null)
        {
            _project = Project;
            await ReloadAsync();
        }
    }
    
    private async Task ReloadAsync()
    {
        if(Project is not null)
        {
            _components = await architectureController.GetComponentsAsync(Project.Id);
            _grid?.ReloadServerData();
        }
    }

    protected async Task DeleteAsync(Component item)
    {
        await architectureController.DeleteComponentAsync(item);
        await ReloadAsync();
    }

    /// <summary>
    /// Loads commit data
    /// </summary>
    /// <param name="state"></param>
    /// <returns></returns>
    private Task<GridData<Component>> LoadGridData(GridState<Component> state)
    {
        if (Project is null)
        {
            return Task.FromResult(new GridData<Component> { TotalItems = 0 });
        }

        Component[] page;
        if (string.IsNullOrEmpty(_searchText))
        {
            page = _components.OrderBy(x=>x.Name).Skip(state.Page * state.PageSize).Take(state.PageSize).ToArray();
        }
        else
        {
            page = _components.OrderBy(x => x.Name).Where(x => x.Name.Contains(_searchText, StringComparison.OrdinalIgnoreCase)).Skip(state.Page * state.PageSize).Take(state.PageSize).ToArray();
        }

        GridData<Component> data = new()
        {
            Items = page,
            TotalItems = (int) _components.Count
        };

        return Task.FromResult(data);
    }
}