@attribute [Authorize()]
@inject TestCaseEditorController testCaseEditorService
@inject IStringLocalizer<SharedStrings> loc

@if (TestCase is not null)
{
    <EditForm Model="@TestCase" OnValidSubmit="async () => await OnValidSubmitAsync()">
        <MudDialog DefaultFocus="DefaultFocus.FirstChild">
            <DialogContent>
                <MudStack Spacing="1">

                    <Field Row>
                        <FieldHeader>
                            <div class="tb-fields-name-description-tight">
                                <div>@loc["external-id"]</div>
                                <FieldDescription>@loc["test-case-external-id-description"]</FieldDescription>
                            </div>
                        </FieldHeader>
                        <MudSpacer />

                        <MudTextField AutoFocus="true" Variant="Variant.Outlined" T="string" @bind-Value="@TestCase.ExternalId"></MudTextField>
                    </Field>

                    <Field Row>
                        <FieldHeader>
                            <div class="tb-fields-name-description-tight">
                                <div>@loc["runner-language"]</div>
                                <FieldDescription>@loc["runner-language-description"]</FieldDescription>
                            </div>
                        </FieldHeader>
                        <MudSpacer />
                        <MudTextField Variant="Variant.Outlined" T="string" @bind-Value="@TestCase.RunnerLanguage"></MudTextField>
                    </Field>

                    <Field Row>
                        <FieldHeader>Assembly name</FieldHeader>
                        <MudSpacer />

                        <MudTextField AutoFocus="true" Variant="Variant.Outlined" T="string" @bind-Value="@TestCase.AutomationAssembly"></MudTextField>
                    </Field>
                    <Field Row>
                        <FieldHeader>Module name</FieldHeader>
                        <MudSpacer />
                        <MudTextField AutoFocus="true" Variant="Variant.Outlined" T="string" @bind-Value="@TestCase.Module"></MudTextField>
                    </Field>
                    <Field Row>
                        <FieldHeader>Class name</FieldHeader>
                        <MudSpacer />
                        <MudTextField AutoFocus="true" Variant="Variant.Outlined" T="string" @bind-Value="@TestCase.ClassName"></MudTextField>
                    </Field>
                    <Field Row>
                        <FieldHeader>Method</FieldHeader>
                        <MudSpacer/>
                        <MudTextField AutoFocus="true" Variant="Variant.Outlined" T="string" @bind-Value="@TestCase.Method"></MudTextField>
                    </Field>

                </MudStack>
            </DialogContent>

            <DialogActions>
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">@loc["ok"]</MudButton>
                <MudButton OnClick="Close">@loc["cancel"]</MudButton>
            </DialogActions>
        </MudDialog>
    </EditForm>
}

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = default!;

    [Parameter] public TestCase? TestCase { get; set; }


    private void Close()
    {
        MudDialog.Close();
    }

    private async Task OnValidSubmitAsync()
    {
        if(TestCase is null)
        {
            MudDialog.Close();
            return;
        }

        if(string.IsNullOrWhiteSpace(TestCase.Module))
        {
            TestCase.Module = null;
        }
        if (string.IsNullOrWhiteSpace(TestCase.AutomationAssembly))
        {
            TestCase.AutomationAssembly = null;
        }
        if (string.IsNullOrWhiteSpace(TestCase.Method))
        {
            TestCase.Method = null;
        }
        if (string.IsNullOrWhiteSpace(TestCase.ClassName))
        {
            TestCase.ClassName = null;
        }

        await testCaseEditorService.SaveTestCaseAsync(TestCase);
        MudDialog.Close(TestCase);
    }
}

