@using TestBucket.Contracts.Testing.Models
@inject TestBrowser testBrowser
@inject TestCaseEditorController testCaseEditorService
@inject TestExecutionController testExecutionController

<MudStack Spacing="0" Style="width: 100%">

    <MudStack Spacing="0" Class="pa-2">
        <MudText Typo="Typo.h3" Color="Color.Tertiary">@TestRun?.Name</MudText>
        <MudText Typo="Typo.subtitle1">@TestRun?.Created</MudText>
    </MudStack>

    <MudSplitter Style="height: 100%" Color="Color.Tertiary" Bordered="false" Dimension="70" EnableMargin="false">
        <StartContent>
            <MudStack Class="pa-2" Style="width: 100%">
                <TestCaseRunGrid Run="@TestRun" OnTestCaseRunClicked="OnTestCaseRunClicked" />
            </MudStack>
        </StartContent>
        <EndContent>
            <MudStack Class="pa-2" Style="width: 100%">
                @if(_selectedTestCaseRun is not null) 
                {
                    <MudTabs Style="width: 100%">
                        <MudTabPanel Text="Metadata">
                            <MudStack Class="pa-2" Style="width: 100%">
                                <div style="max-width: 100%; overflow: hidden; text-overflow: ellipsis">
                                    <MudText Typo="Typo.h3" Color="Color.Tertiary">@_selectedTestCaseRun.Name</MudText>
                                </div>

                                <TestResultPicker Result="@_selectedTestCaseRun.Result" ResultChanged="OnTestCaseRunResultChanged" />
                                <TestRunStatePicker State="@_selectedTestCaseRun.State" StateChanged="OnTestCaseRunStateChanged" />

                                <FieldsEditor TestCaseRun="@_selectedTestCaseRun" />
                            </MudStack>
                        </MudTabPanel>
                        <MudTabPanel Text="Attachments">
                            <MudStack Class="pa-2" Style="width: 100%">

                                <Field>
                                    <FieldHeader>Attachments</FieldHeader>
                                    <AttachmentGrid TestCaseRunId="@_selectedTestCaseRun.Id" Style="width: 100%" />
                                </Field>
                            </MudStack>
                        </MudTabPanel>
                    </MudTabs>

                }
            </MudStack>

        </EndContent>
    </MudSplitter>


</MudStack>
@code {
}
