@using TestBucket.Components.Shared
@using TestBucket.Domain.Requirements.Models
@inject TestBrowser testBrowser
@inject IDialogService dialogService
@inject ITestCaseManager testCaseManager
@inject TestCaseEditorController testCaseEditor
@inject TestRunCreationController testRunCreationService
@implements IDisposable
@implements ITestCaseObserver

<DropZone T="TestEntity" OnDrop="OnDrop">
    <MudDataGrid ServerData="LoadGridData"
                 Style="width: 100%"
                 Dense="true"
                 Hover="true"
                 SelectOnRowClick="true"
                 MultiSelection="false"
                 T="TestCaseRun"
                 RowClick="(e) => OnClicked(e.Item)"
                 @ref="_dataGrid"
                 SortMode="SortMode.None">

        <ToolBarContent>
            <MudStack Row="true" AlignItems="AlignItems.Center" Style="width: 100%">

                <MudTextField Value="_searchText" T="string" ValueChanged="OnSearch"
                              Style="min-width: 15vw"
                              Clearable="true"
                              Placeholder="Search Tests"
                              Variant="Variant.Outlined"
                              IconSize="Size.Small"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" />

                <MudSpacer />

                <MudSpacer />
                <MudIconButton Icon="@Icons.Material.Filled.FilterList" OnClick="ShowFilterAsync"></MudIconButton>
            </MudStack>
        </ToolBarContent>

        <Columns>

            <PropertyColumn Property="x => x.State" Title="State" />

            <TemplateColumn Title="Name">
                <CellTemplate>
                    @if(_selectedItem == context.Item)
                    {
                        <span style="color: var(--mud-palette-tertiary)">@context.Item.Name</span>
                    }
                    else
                    {
                        @context.Item.Name
                    }
                </CellTemplate>
            </TemplateColumn>

            <PropertyColumn Property="x => x.AssignedToUserName" Title="Assigned To" />

            <TemplateColumn Title="Result">
                <CellTemplate>
                    <ResultPill Result="@context.Item.Result" />
                </CellTemplate>
            </TemplateColumn>

        </Columns>

        <PagerContent>
            <MudDataGridPager T="TestCaseRun" />
        </PagerContent>
    </MudDataGrid>
</DropZone>