@using TestBucket.Components.Shared.Splitter
@using TestBucket.Contracts.Testing.Models
@implements IDisposable
@inject TestBrowser testBrowser
@inject TestCaseEditorController testCaseEditorService
@inject TestExecutionController testExecutionController

<MudStack Spacing="0" Style="width: 100%">

    <Splitter Style="height: 100%" Color="Color.Tertiary" Bordered="false" Dimension="70" EnableMargin="false">
        <StartContent>

            <Splitter Style="width: 100%; height: 100%" Color="Color.Tertiary" Bordered="false" Dimension="50" EnableMargin="false" Vertical>
                <StartContent>

                    @if (_selectedTestCaseRun?.TestCase is not null)
                    {
                        <div class="container-fill-2-rows">
                            <MudStack Row Class="pl-2 pr-2">
                                <TestResultQuickPicker Result="@_selectedTestCaseRun.Result" ResultChanged="OnTestCaseRunResultChanged" />
                            </MudStack>

                            <MarkdownEditor ShowToolbar="false"
                                    MaxHeight="100%"
                                    MinHeight="100%"
                                    AllowResize="false"
                                    Preview="true"
                                    Value="@_selectedTestCaseRun.TestCase.Description"
                                    SpellChecker="false">
                            </MarkdownEditor>
                        </div>
                    }

                </StartContent>
                <EndContent>
                    <MudStack Style="width: 100%">
                        <TestCaseRunGrid @ref="testCaseRunGrid" Run="@TestRun" @bind-SelectedTestCaseRun="_selectedTestCaseRun" />
                    </MudStack>
                </EndContent>
            </Splitter>
        </StartContent>
        <EndContent>
            <MudStack Class="pa-2" Style="width: 100%">
                @if(_selectedTestCaseRun is not null) 
                {
                    <MudStack Class="pa-2" Style="width: 100%">
                        <div style="max-width: 100%; overflow: hidden; text-overflow: ellipsis">
                            <MudText Typo="Typo.h3">@_selectedTestCaseRun.Name</MudText>
                        </div>

                        <TestResultPicker TestCaseRun="@_selectedTestCaseRun" Result="@_selectedTestCaseRun.Result" ResultChanged="OnTestCaseRunResultChanged" />
                        <TestRunStatePicker State="@_selectedTestCaseRun.State" StateChanged="OnTestCaseRunStateChanged" />


                        <Field>
                            <FieldHeader>Attachments</FieldHeader>
                            <AttachmentGrid TestCaseRunId="@_selectedTestCaseRun.Id" Style="width: 100%" />
                            <CaptureScreenShotButton TestCaseRunId="@_selectedTestCaseRun.Id" />
                        </Field>

                        <FieldsEditor TestCaseRun="@_selectedTestCaseRun" />
                    </MudStack>
                }
            </MudStack>
        </EndContent>
    </Splitter>


</MudStack>
@code {
}
