@using TestBucket.Components.Tests.TestRuns.Controllers
@using TestBucket.Domain
@inject TestBrowser testBrowser
@inject IDialogService dialogService
@inject ITestCaseManager testCaseManager
@inject ITestRunManager testRunManager
@inject TestSuiteService testSuiteService
@inject TestCaseEditorController testCaseEditor
@inject TestRunCreationController testRunCreation
@inject AppNavigationManager appNavigationManager
@inject ITestSuiteManager testSuiteManager
@inject IStringLocalizer<SharedStrings> loc
@implements ITestCaseObserver
@implements ITestSuiteObserver
@implements ITestSuiteFolderObserver
@implements ITestRunObserver
@implements IDisposable

<MudStack Spacing="0" Style="width: 100%;">
    <MudStack Row="true" class="tb-treeview-toolbar" Spacing="0">

        <MudStack Row="true" Class="pr-2 pl-2" Style="width: 100%" Spacing="0" AlignItems="AlignItems.Center">
            <MudTextField 
                Placeholder="@loc["search-tests"]"
                Clearable
                Variant="Variant.Outlined"
                Adornment="Adornment.Start" T="string" AdornmentIcon="@Icons.Material.Filled.Search" Value="_searchText" ValueChanged="OnSearchTextChangedAsync" />

            <MudSpacer />

            @if (appNavigationManager.State.SelectedTestCase is not null)
            {
                <MudIconButton Class="rounded-0" OnClick="SyncWithActiveDocumentAsync" Icon="@Icons.Material.Filled.CompareArrows" />
            }

            <MudMenu Class="rounded-0" Icon="@Icons.Material.Filled.MoreVert">
                <CommandMenuItems TypeNames="TestSuite TestSuiteFolder TestRun TestCase menu-test" />
            </MudMenu>
        </MudStack>
    </MudStack>

    <TreeView 
    Class="pa-2"
    @ref="_treeView"
    ItemEdited="OnRenamed"
    ItemEditCanceled="OnItemEditCanceled"
    EditItem="@_editItem"
    T="BrowserItem"
    SelectedValue="@_selectedTreeItem"
    SelectedValueChanged="OnSelectedValueChangedAsync"
    Color="Color.Tertiary" 
    ServerData="@LoadServerData" 
    Items="@_rootItems">
        <ItemTemplate>

            @{
                string style = "";
                if (context.Value?.Color is not null)
                {
                    style += $"color: {context.Value.Color}";
                }
            }

            <DropZone T="TestEntity" OnDrop="(test) => OnDrop(test, context)">

                <MudMenu ActivationEvent="@MouseEvent.RightClick" Dense="true" OpenChanged="() => OnMenuOpened(context)">
                    <ActivatorContent>
                        @if (context.Value?.TestCase is not null)
                        {
                            <Draggable T="TestEntity" Data="@context.Value.TestCase">

                                @{
                                    string cssClass = "";
                                    string name = context.Text ?? "";
                                    if (context.Value.TestCase.IsTemplate)
                                    {
                                        cssClass += " template";
                                    }
                                    switch(context.Value.TestCase.ExecutionType)
                                    {
                                        case Contracts.Testing.Models.TestExecutionType.Automated:
                                            cssClass += " automated";
                                            break;
                                        case Contracts.Testing.Models.TestExecutionType.Hybrid:
                                            cssClass += " hybrid";
                                            break;
                                        case Contracts.Testing.Models.TestExecutionType.Manual:
                                            cssClass += " manual";
                                            break;
                                    }
                                }

                                <div style="@style" class="@cssClass">@context.Text</div>
                            </Draggable>
                        }
                        else if (context.Value?.Folder is not null)
                        {
                            <Draggable T="TestEntity" Data="@context.Value.Folder">
                                <div style="@style">@context.Text</div>
                            </Draggable>
                        }
                        else if (context.Value?.TestSuite is not null)
                        {
                            <Draggable T="TestEntity" Data="@context.Value.TestSuite">
                                <div style="@style">@context.Text</div>
                            </Draggable>
                        }
                        else
                        {
                            <div style="@style">@context.Text</div>
                        }
                    </ActivatorContent>
                    <ChildContent>

                        @if (context.Value?.TestCase is not null)
                        {
                            <MudMenuItem Icon="@Icons.Material.Filled.Abc" OnClick="() => BeginRename(context)">@loc["rename"]</MudMenuItem>
                            <MudDivider />
                        }
                        else if (context.Value?.TestRun is not null)
                        {
                            <MudMenuItem Icon="@Icons.Material.Filled.Abc" OnClick="() => BeginRename(context)">@loc["rename"]</MudMenuItem>
                            <MudDivider />
                        }
                        else if (context.Value?.Folder is not null)
                        {
                            <MudMenuItem Icon="@Icons.Material.Filled.Abc" OnClick="() => BeginRename(context)">@loc["rename"]</MudMenuItem>
                            <MudDivider />
                        }
                        else if (context.Value?.TestSuite is not null)
                        {
                            <MudMenuItem Icon="@Icons.Material.Filled.Abc" OnClick="() => BeginRename(context)">@loc["rename"]</MudMenuItem>
                            <MudDivider />
                        }
                        <CommandMenuItems TypeNames="TestSuite TestSuiteFolder TestRun TestCase menu-test" />
                    </ChildContent>
                </MudMenu>
            </DropZone>
        </ItemTemplate>
    </TreeView>
</MudStack>
