@using TestBucket.Components.Account
@using TestBucket.Components.Layout.Controls
@using TestBucket.Components.Shared.Themeing
@using TestBucket.Components.Teams
@using TestBucket.Components.Teams.Controls
@using TestBucket.Domain.Teams.Models
@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject TenantResolver tenantResolver
@inject AuthenticationStateProvider authStateProvider
@inject ProjectService projectService
@inject TeamService teamService
@inject ThemingService themingService

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" Theme="@themingService.Theme"/>
<MudSnackbarProvider />
<MudPopoverProvider />
<MudDialogProvider MaxWidth="MaxWidth.ExtraExtraLarge" />

@{
    string tenantAdminUrl = $"{tenantId}/tenants";
    string teamAdminUrl = $"{tenantId}/teams";
    string projectAdminUrl = $"{tenantId}/projects";
    string projectSettingsUrl = $"{tenantId}/projects/settings";
    string homeUrl = $"/{tenantId}";
    string authUrl = $"/{tenantId}/Auth";
    string requirementsUrl = $"/{tenantId}/Requirements";
    string testsUrl = $"/{tenantId}/Testing";
    string runsUrl = $"/{tenantId}/Runs";
    string manageUrl = $"/{tenantId}/Account/Manage";
    string registerUrl = $"/{tenantId}/Account/Register";
    string loginUrl = $"/{tenantId}/Account/Login?returnUrl=/{tenantId}";
}

<CascadingValue Value="@_project">
    <CascadingValue Value="@_team">

        <div style="display: grid; grid-template-rows: auto 1fr;" class="container-fill">

            <MudToolBar Style="@MenuStyle" Class="@MenuClass">
                <MudStack Row Style="width: 100%" AlignItems="AlignItems.Center">

                    <TeamDropDown SelectedTeam="@_team" SelectedTeamChanged="OnSelectedTeamChanged" />
                    <ProjectDropDown Team="@_team" SelectedProject="@_project" SelectedProjectChanged="OnSelectedProjectChanged"/>

                    <TbNavLink Href="@requirementsUrl">Requirements</TbNavLink>
                    <TbNavLink Href="@testsUrl">Testing</TbNavLink>
                    <TbNavLink Href="@testsUrl">Reporting</TbNavLink>
                    <TbNavLink Href="@testsUrl">Environments</TbNavLink>
                    <TbNavLink Href="@projectSettingsUrl">Project</TbNavLink>

                    <MudSpacer/>

                    <DarkModeToggle IsDarkMode="@_isDarkMode" IsDarkModeChanged="OnDarkModeChanged"/>
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert">

                        <!-- Pages -->
                        <MudMenuItem Icon="@Icons.Material.Filled.ViewList" Label="Tests" Href="@testsUrl"></MudMenuItem>
                        <MudMenuItem Icon="@Icons.Material.Filled.SmartDisplay" Label="Runs" Href="@runsUrl"></MudMenuItem>

                        <!-- Admin -->
                        <AuthorizeView Roles="ADMIN">
                            <MudDivider/>
                            <MudMenuItem Icon="@Icons.Material.Filled.Settings" Label="Teams" Href="@teamAdminUrl"></MudMenuItem>
                            <MudMenuItem Icon="@Icons.Material.Filled.Settings" Label="Projects" Href="@projectAdminUrl"></MudMenuItem>
                        </AuthorizeView>
                        <AuthorizeView Roles="SUPERADMIN">
                            <MudMenuItem Icon="@Icons.Material.Filled.AdminPanelSettings" Label="Tenants" Href="@tenantAdminUrl"></MudMenuItem>
                        </AuthorizeView>

                        <!-- Profile / Logout -->
                        <AuthorizeView>
                            <MudDivider />
                            <MudMenuItem Icon="@Icons.Material.Filled.ManageAccounts" Label="Profile" Href="@manageUrl"></MudMenuItem>
                            <MudMenuItem>
                                <form action="Account/Logout" method="post">
                                    <AntiforgeryToken />
                                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                    <button type="submit">Logout</button>
                                </form>
                            </MudMenuItem>
                        </AuthorizeView>
                    </MudMenu>
                </MudStack>
            </MudToolBar>

            <main class="container-fill">
                <article class="content container-fill">
                    @Body
                </article>
            </main>

        </div>
    </CascadingValue>
</CascadingValue>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code {
    private Team? _team;
    private TestProject? _project;
    private string? tenantId;
    private string? currentUrl;
    private bool _isDarkMode = true;
    private MudThemeProvider _mudThemeProvider = default!;

    public string MenuStyle => $"width: 100%; ";
    public string MenuClass => $"tb-toolbar main " + (_isDarkMode ? "dark" : "light");
    // public string MenuBackground => _isDarkMode ? 
    //     "linear-gradient(90deg, rgba(205,0,52,1) 0%, rgba(103,0,27,1) 24%, rgba(34,34,51,1) 56%, rgba(34,34,51,1) 100%);" : 
    //     "linear-gradient(90deg, rgba(255,0,52,1) 0%, rgba(133,0,27,1) 24%, rgba(134,134,134,1) 56%, rgba(134,134,134,1) 100%);";

    protected override async Task OnInitializedAsync()
    {
        var state = await authStateProvider.GetAuthenticationStateAsync();
        tenantId = state.User.Claims.FirstOrDefault(x => x.Type == "tenant")?.Value;

        currentUrl = navigationManager.ToBaseRelativePath(navigationManager.Uri);
        navigationManager.LocationChanged += OnLocationChanged;
    }

    private async Task OnDarkModeChanged(bool isDarkMode)
    {
        _isDarkMode = isDarkMode;
        await themingService.SetDarkModeAsync(isDarkMode);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (_project is null)
            {
                _project = await projectService.GetActiveProjectAsync();
            }
            if (_team is null)
            {
                _team = await teamService.GetActiveTeamAsync();
            }

            var isDarkMode = await themingService.IsDarkModeAsync();
            if(isDarkMode != _isDarkMode)
            {
                _isDarkMode = isDarkMode;
                StateHasChanged();
            }
            StateHasChanged();
        }
    }


    private async Task OnSelectedTeamChanged(Team? team)
    {
        _project = null;
        _team = team;
        await teamService.SetActiveTeamAsync(team);
    }
    private async Task OnSelectedProjectChanged(TestProject? testProject)
    {
        _project = testProject;
        await projectService.SetActiveProjectAsync(testProject);
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = navigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        navigationManager.LocationChanged -= OnLocationChanged;
    }
}