@implements IDisposable
@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@{
    string tenantAdminUrl = $"{tenantId}/tenants";
    string projectAdminUrl = $"{tenantId}/projects";
    string homeUrl = $"/{tenantId}";
    string authUrl = $"/{tenantId}/Auth";
    string testsUrl = $"/{tenantId}/Tests";
    string manageUrl = $"/{tenantId}/Account/Manage";
    string registerUrl = $"/{tenantId}/Account/Register";
    string loginUrl = $"/{tenantId}/Account/Login?returnUrl=/{tenantId}";
}

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TestBucket</a>
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">

    <MudPaper Class="pa-2">
        <MudNavMenu>
            <AuthorizeView>
                <Authorized>
                    <MudNavLink Href="@homeUrl">Home</MudNavLink>
                    <MudNavLink Href="@authUrl">Auth</MudNavLink>
                    <MudNavLink Href="@testsUrl">Tests</MudNavLink>
                </Authorized>
                <NotAuthorized>
                    <MudNavLink Href="@loginUrl">Login</MudNavLink>
                    <MudNavLink Href="@registerUrl">Register</MudNavLink>
                </NotAuthorized>
            </AuthorizeView>

            <AuthorizeView Roles="ADMIN">
                <MudDivider Class="mt-2 mb-2" />

                <MudNavGroup Title="Admin">
                    <MudNavLink Href="@projectAdminUrl">Projects</MudNavLink>

                    <AuthorizeView Roles="SUPERADMIN" Context="superContext">
                        <MudNavLink Href="@tenantAdminUrl">Tenants</MudNavLink>
                    </AuthorizeView>

                </MudNavGroup>
            </AuthorizeView>

            <MudDivider Class="mt-2 mb-2"/>

            <AuthorizeView>
                <Authorized>
                    <MudNavLink Href="@manageUrl">Profile</MudNavLink>
                </Authorized>
                <NotAuthorized>
                    <MudNavLink Href="@loginUrl">Login</MudNavLink>
                    <MudNavLink Href="@registerUrl">Register</MudNavLink>
                </NotAuthorized>
            </AuthorizeView>

        </MudNavMenu>
    </MudPaper>

     <AuthorizeView>
        <Authorized>
                   
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button class="mt-3" type="submit">Logout</button>
            </form>
        </Authorized>
        </AuthorizeView>

</div>

@code {
    private string? currentUrl;
    private string? tenantId;

    protected override void OnInitialized()
    {
        tenantId = TenantResolver.ResolveTenantIdFromUrl(NavigationManager.Uri);

        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

