@using System.Diagnostics
@implements IAsyncDisposable

<MudStack Row AlignItems="AlignItems.Center" Spacing="1">

    @if (!ReadOnly)
    {
        if (_isPaused)
        {
            <MudIconButton aria-label="resume" Icon="@Icons.Material.Outlined.PlayArrow" Size="Size.Small" Style="margin: 0" OnClick="StartTimer" />
        }
        else
        {
            <MudIconButton aria-label="pause" Icon="@Icons.Material.Outlined.Pause" Size="Size.Small" Style="margin: 0" OnClick="StopTimer" />
        }
    }
    else
    {
        <MudIcon Icon="@TbIcons.BoldDuoTone.Stopwatch" Size="Size.Small" Style="margin: 0" />
    }
    <div class="elapsed">@(TimeSpan.FromMilliseconds(_millis).Humanize(precision:2))</div>

    @if(_estimate > 0)
    {
        <div class="estimate">/ @(TimeSpan.FromMilliseconds(_estimate).Humanize(precision: 2))</div>
    }
</MudStack>

@code {
    [CascadingParameter] public TestCaseRun? TestCaseRun { get; set; }

    [Parameter] public bool ReadOnly { get; set; }

    /// <summary>
    /// Estimate, for planned session duration in milliseconds
    /// </summary>
    private int _estimate;
    private int _millis;
    private TestCaseRun? _testCaseRun;

    /// <summary>
    /// Timer to count the runtime, if executing
    /// </summary>
    private Timer? _timer = null;
    private int _startDuration = 0;
    private long _startRunTimestamp;
    private TestResult? _result;
    private bool _isPaused = false;

    protected override async Task OnParametersSetAsync()
    {
        var before = _millis;
        _estimate = TestCaseRun?.Estimate ?? 0;
        if (TestCaseRun?.Id != _testCaseRun?.Id || TestCaseRun?.Result != _result)
        {
            _startDuration = _millis = TestCaseRun?.Duration ?? 0;
            _result = TestCaseRun?.Result;
            _testCaseRun = TestCaseRun;
            await StopTimerAsync();

            if (!ReadOnly)
            {
                StartTimer();
            }
        }

        if(_millis != before)
        {
            this.StateHasChanged();
        }
    }

    private void StartTimer()
    {
        if (_testCaseRun is null)
        {
            return;
        }
        if (_testCaseRun.Result == TestResult.NoRun)
        {
            _isPaused = false;
            _startRunTimestamp = Stopwatch.GetTimestamp();
            _timer = new Timer(this.OnTimer, null, 1000, 1000);
        }
    }

    private void OnTimer(object? state)
    {
        if (_testCaseRun is not null && !ReadOnly)
        {
            int millis = (int)Stopwatch.GetElapsedTime(_startRunTimestamp).TotalMilliseconds;
            _millis = _startDuration + millis;
            _testCaseRun.Duration = _millis;
            InvokeAsync(this.StateHasChanged);
        }
    }

    private void StopTimer()
    {
        if (_timer is not null)
        {
            _timer?.Dispose();
            _timer = null;
        }
        _isPaused = true;
    }

    private ValueTask StopTimerAsync()
    {
        StopTimer();
        return ValueTask.CompletedTask;
    }

    public async ValueTask DisposeAsync()
    {
        await StopTimerAsync();
    }
}