@page "/{tenantId}/Settings/Projects/{projectSlug}/Integrations"
@using System.Diagnostics
@using TestBucket.Contracts.Integrations
@using TestBucket.Domain
@using TestBucket.Domain.ExtensionManagement
@layout SettingsLayout
@attribute [Authorize(Roles = "ADMIN")]
@inject ProjectController projectController
@inject AppNavigationManager appNav
@inject IDialogService dialogService
@inject IExtensionManager extensionManager
@inject IStringLocalizer<ProjectStrings> projectLoc
@inject IStringLocalizer<SharedStrings> loc
@inject IStringLocalizer<IntegrationStrings> intLoc

<TenantRedirect/>

<MudStack Class="container-settings-page">

    <MudBreadcrumbs Items="@_nav"></MudBreadcrumbs>

     <MudDataGrid Items="_integrations"
                 Dense
                 Hover
                 RowClass="tb-datarow cursor-pointer"
                 T="ExternalSystem"
                 RowClick="x => OnRowClicked(x.Item)"
                 SortMode="SortMode.None">

        <ToolBarContent>
            <MudStack Row AlignItems="AlignItems.Center" Style="width: 100%" Class="pt-5">
                <MudIcon Icon="@TbIcons.Filled.Extensions" Size="Size.Large" Color="Color.Tertiary" />
                <MudText Typo="Typo.h1">@projectLoc["integrations"]</MudText>
                <MudSpacer />

                <PermissionView Level="Domain.Identity.Permissions.PermissionLevel.Write" Entity="PermissionEntityType.Project">
                    <Authorized>
                        <MudMenu Icon="@Icons.Material.Filled.Add">
                            @foreach(var extension in _extensions)
                            {
                                var pinnedExtension = extension;
                                <MudMenuItem OnClick="async () => await AddIntegrationAsync(pinnedExtension)">@extension.FriendlyName</MudMenuItem>
                            }
                        </MudMenu>
                    </Authorized>
                </PermissionView>
            </MudStack>
        </ToolBarContent>

        
        <ColGroup>
            <col style="width: 10%" />
            <col style="width: 20%" />
            <col style="width: 20%" />
            <col style="width: 20%" />
            <col style="width: 20%" />
            <col style="width: 10%" />
        </ColGroup>

        <Columns>
            <TemplateColumn>
                <CellTemplate>
                    @if (context.Item.Enabled)
                    {
                        <MudTooltip Text="@loc["enabled"]">
                            <MudText Color="Color.Success">●</MudText>
                        </MudTooltip>
                    }
                    else
                    {
                        <MudTooltip Text="@loc["disabled"]">
                            <MudText Color="Color.Error">●</MudText>
                        </MudTooltip>
                    }
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Name" Title="@loc["name"]"/>

            <TemplateColumn Title="@intLoc["system"]">
                <CellTemplate>
                    <MudStack Row Spacing="1">
                        <ExternalSystemIcon SystemName="@context.Item.Provider"/>
                        <div>@context.Item.Provider</div>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>


            <PropertyColumn Property="x => x.BaseUrl" Title="@intLoc["integration-base-url"]"/>
            <PropertyColumn Property="x => x.ExternalProjectId" Title="@intLoc["project-id"]"/>
            <TemplateColumn>
                <CellTemplate>
                    <PermissionView Level="Domain.Identity.Permissions.PermissionLevel.Delete" Entity="PermissionEntityType.Project">
                        <Authorized>
                            <MudIconButton Icon="@Icons.Material.Filled.Clear" Color="Color.Error" OnClick="async () => await DeleteIntegrationAsync(context.Item)"/>
                        </Authorized>
                    </PermissionView>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
</MudStack>

@code {
    [Parameter] public string? TenantId { get; set; }
    [Parameter] public string? ProjectSlug { get; set; }

    private string? _projectSlug;

    private IReadOnlyList<IExtension> _extensions = [];
    private Dictionary<string, List<ExternalSystem>> _configurations = [];
    private IReadOnlyList<ExternalSystem> _integrations = [];

    private TestProject? _project;

    private List<BreadcrumbItem> _nav = [];

    protected override void OnInitialized()
    {
        SetupBreadcrumbs();
    }

    private void SetupBreadcrumbs()
    {
        _nav.Clear();
        _nav.Add(new BreadcrumbItem(loc["settings"], appNav.GetSettingsUrl()));
        _nav.Add(new BreadcrumbItem(loc["projects"], appNav.GetManageProjectsUrl()));
        if(_project is not null)
        {
            _nav.Add(new BreadcrumbItem(_project.Name, appNav.GetUrl(_project)));
            _nav.Add(new BreadcrumbItem(projectLoc["integrations"], appNav.GetUrl(_project) + "/Integrations"));
        }
    }

    private async Task OnConfigurationChanged(ExternalSystem integration)
    {
        if (ProjectSlug is not null)
        {
            await projectController.SaveProjectIntegrationAsync(ProjectSlug, integration);
        }
    }

    private async Task OnRowClicked(ExternalSystem system)
    {
        Debug.Assert(_project is not null);
        if(_project is null)
        {
            return;
        }

        var extension = _extensions.Where(x => x.SystemName == system.Provider).FirstOrDefault();
        if(extension is not null)
        {
            await projectController.EditProjectIntegrationAsync(_project, system, extension);
            await ReloadAsync();
        }
    }

    private async Task DeleteIntegrationAsync(ExternalSystem system)
    {
        await projectController.DeleteProjectIntegrationAsync(system);
        await ReloadAsync();
    }

    private async Task AddIntegrationAsync(IExtension extension)
    {
        if(_project is null)
        {
            return;
        }
        await projectController.AddProjectIntegrationAsync(_project, extension);
        await ReloadAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (ProjectSlug is not null && _projectSlug != ProjectSlug)
        {
            _projectSlug = ProjectSlug;

            _project = await projectController.GetProjectBySlugAsync(_projectSlug);
            SetupBreadcrumbs();
            await ReloadAsync();
        }
    }

    private async Task ReloadAsync()
    {
        if(ProjectSlug is null)
        {
            return;
        }
        _integrations = await projectController.GetProjectIntegrationsAsync(ProjectSlug);

        foreach(var config in _integrations)
        {
            config.Provider ??= config.Name;

            if(!_configurations.ContainsKey(config.Provider))
            {
                _configurations[config.Provider] = [];
            }
            _configurations[config.Provider].Add(config);
        }

        _extensions = extensionManager.GetExtensions().OrderBy(x=>x.FriendlyName).ToList();
    }
}
