@using TestBucket.Domain
@using TestBucket.Domain.Keyboard
@if(KeyCode is not null)
{
    <MudStack Spacing="1" Row Class="tb-keyboard-shortcut">
        @if ((Modifiers & ModifierKey.Meta) == ModifierKey.Meta)
        {
            <div class="tb-key tb-mod-key">
                <MudIcon Icon="@TbIcons.Iconcino.Command" Style="width: 16px; height: 16px" />
            </div>
        }
        @if ((Modifiers & ModifierKey.Ctrl) == ModifierKey.Ctrl)
        {
            <div class="tb-key tb-mod-key">
                <MudIcon Icon="@TbIcons.Iconcino.Command" Style="width: 16px; height: 16px" />
            </div>
        }
        @if ((Modifiers & ModifierKey.Shift) == ModifierKey.Shift) 
        {
            <div class="tb-key tb-mod-key">
                <MudIcon Icon="@TbIcons.Iconcino.Shift" Style="width: 16px; height: 16px"/>
            </div>
        }
        @if ((Modifiers & ModifierKey.Alt) == ModifierKey.Alt)
        {
            <div class="tb-key tb-mod-key">Alt</div>
        }

        @if(KeyCode.StartsWith("Key")) 
        {
            <div class="tb-key tb-key-code">@KeyCode.Replace("Key", "")</div>
        }
        else
        {
            <div class="tb-key tb-key-code">@KeyCode</div>
        }
    </MudStack>

}

@code {
    [Parameter] public ModifierKey Modifiers { get; set; } = ModifierKey.None;
    [Parameter] public string? KeyCode { get; set; }
}
