@using TestBucket.Components.Shared.Profile
@using TestBucket.Domain.Comments.Models
@inject AuthenticationStateProvider authenticationStateProvider 
@inject IStringLocalizer<SharedStrings> loc

<div>
    <div class="comment-thread">
        @if (_comments is not null)
        {
            @foreach (var (index, comment) in _comments.Index())
            {
                @if (comment.Markdown is not null)
                {
                    <div class="comment-container">
                        <div>
                            <UserProfileImage UserName="@comment.CreatedBy"/>
                        </div>
                        <div>
                            @if (index > 0)
                            {
                                <div class="timeline-divider"/>
                            }
                            <div class="comment-container-title">
                                <div class="user">@(comment.CreatedBy)</div>
                                <div class="when">@(comment.Created.Humanize())</div>

                                @if (comment.CreatedBy == _currentUserName ||
                                 _authState?.User?.HasPermission(EntityType, PermissionLevel.Delete) == true)
                                {
                                    <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                                        <MudMenuItem OnClick="async () => await DeleteCommentAsync(comment)">@loc["delete"]</MudMenuItem>
                                    </MudMenu>
                                }

                            </div>
                            <div class="comment-container-text">
                                <MarkdownEditor Preview="true"
                                ShowToolbar="false"
                                MaxHeight="180px"
                                MinHeight="180px"
                                Value="@comment.Markdown"
                                SpellChecker="false">
                                </MarkdownEditor>

                            </div>
                        </div>
                    </div>
                }
                else if (comment.LoggedAction is not null) // special action
                {

                    <div class="comment-container">
                        <div>
                        </div>
                        <div>
                            @if (index > 0)
                            {
                                <div class="timeline-divider" />
                            }
                            <div class="comment-action">

                                @{
                                    string message = string.Format(loc["logged-action-" + comment.LoggedAction], comment.CreatedBy, comment.LoggedActionArgument);
                                }

                                @if(comment.LoggedActionIcon is not null)
                                {
                                    string color = comment.LoggedActionColor ?? "rgb(128,128,128)";
                                    <MudIcon Style="width: 24px; height: 24px" Icon="@comment.LoggedActionIcon"/>
                                }
                                else
                                {
                                    <div/>
                                }

                                <div class="message">@message</div>
                                <div class="when">@comment.Created.Humanize()</div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>

    @if (_authState?.User?.HasPermission(EntityType, PermissionLevel.Write) == true)
    {

        <div class="comment-thread">
            @if (_comments is not null)
            {
                string cssClass = "comment-container";
                if (_comments.Count == 0)
                {
                    cssClass += " no-comments";
                }

                <div class="@cssClass" data-testid="add-comment-container">
                    <div>
                        <UserProfileImage UserName="@_authState?.User?.Identity?.Name" />
                    </div>
                    <div>
                        <div class="timeline-divider" />
                        <div class="comment-container-title">
                            <div class="user">@loc["add-comment"]</div>
                        </div>
                        <div class="comment-container-text">
                            <MarkdownEditor MaxHeight="122px"
                                            MinHeight="122px"
                                            @bind-Preview="_preview" @bind-Value="_comment" />
                            <MudStack Row Style="width: 100%" Class="mt-2">

                                @foreach(var emoji in _emojis)
                                {
                                    var textToInsert = emoji;
                                    <div class="insert-emoji" @onclick="() => InsertEmoji(textToInsert)">@emoji</div>
                                }

                                <MudSpacer/>
                                <MudButton data-testid="add-comment-button" Color="Color.Primary" Variant="Variant.Filled" OnClick="AddCommentAsync">@loc["add"]</MudButton>
                            </MudStack>

                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>


@code {
    [Parameter] public List<Comment>? Comments { get; set; } = [];
    [Parameter] public EventCallback<Comment> CommentAdded { get; set; }
    [Parameter] public EventCallback<Comment> CommentDeleted { get; set; }
    [Parameter] public PermissionEntityType EntityType { get; set; } = PermissionEntityType.Requirement;

    private IReadOnlyList<Comment> _comments = [];

    private bool _preview = false;
    private string _currentUserName = "";
    private string _comment = "";
    private AuthenticationState? _authState;
    private string[] _emojis = ["👍", "👎", "⭐️", "❤️", "💀", "✅️", "🚩"];

    protected override async Task OnInitializedAsync()
    {
        _authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        _currentUserName = _authState.User.Identity?.Name ?? "n/a";
    }

    protected override void OnParametersSet()
    {
        if(Comments is not null)
        {
            _comments = Comments.OrderBy(x => x.Created).ToList();
        }
    }

    private async Task DeleteCommentAsync(Comment comment)
    {
        await CommentDeleted.InvokeAsync(comment);
    }

    private void InsertEmoji(string text)
    {
        _comment += text;
    }

    private async Task AddCommentAsync()
    {
        _authState ??= await authenticationStateProvider.GetAuthenticationStateAsync();
        var comment = new Comment
        {
            CreatedBy = _authState.User.Identity?.Name ?? "",
            Created = DateTimeOffset.UtcNow,
            Markdown = _comment
        };

        _comment = "";

        await CommentAdded.InvokeAsync(comment);
    }
}
