@if(Field?.FieldDefinition is not null) 
{
    <MudText Class="tb-read-only-field">
        @if (Field.FieldDefinition.Type is (FieldType.String or FieldType.SingleSelection) )
        {
            string? color = "";
            if (Field.FieldDefinition.OptionColors is not null && Field.StringValue is not null && 
            Field.FieldDefinition.OptionColors.TryGetValue(Field.StringValue, out color))
            {
                <Chip Color="@color" Text="@Field.StringValue" />
            }
            else
            {
                <div>@Field.StringValue</div>
            }
        }
        else if (Field.FieldDefinition.Type == FieldType.Boolean)
        {
            <MudSwitchM3 Color="Color.Primary" ReadOnly Value="@Field.BooleanValue" />
        }
        else if (Field.FieldDefinition.Type == FieldType.Double)
        {
            @Field.DoubleValue
        }
        else if (Field.FieldDefinition.Type == FieldType.DateOnly)
        {
            @Field.DateValue?.Humanize()
        }
        else if (Field.FieldDefinition.Type == FieldType.TimeSpan)
        {
            @Field.TimeSpanValue?.Humanize()
        }
        else if (Field.FieldDefinition.Type == FieldType.DateTimeOffset)
        {
            @Field.DateTimeOffsetValue?.ToLocalTime().Humanize()
        }
        else if ((Field.FieldDefinition.Type is FieldType.StringArray or FieldType.MultiSelection) && Field.StringValuesList is not null)
        {
            <MudStack Row Spacing="1">
                @foreach (var value in Field.StringValuesList)
                {
                    string color = "#CCC";
                    if (Field.FieldDefinition.OptionColors is not null)
                    {
                        if(Field.FieldDefinition.OptionColors.TryGetValue(value, out var optionColor))
                        {
                            color = optionColor;
                        }
                    }
                    <Chip Color="@color" Text="@value"/>
                }
            </MudStack>
        }
    </MudText>
}
@code {
    [Parameter] public FieldValue? Field { get; set; }
}
