@using TestBucket.Domain.Fields.Models
@using TestBucket.Traits.Core

<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 2rem">
    @if(FieldDefinition is not null)
    {
        <MudStack>
            <h3>Field</h3>
            <Field>
                <FieldHeader>Name</FieldHeader>
                <MudTextField Value="@FieldDefinition.Name" ValueChanged="OnNameChanged" T="string" Variant="Variant.Outlined" />
            </Field>
             
            <Field>
                <FieldHeader>Trait</FieldHeader>
                <MudTextField Value="@FieldDefinition.Trait" ValueChanged="OnTraitChanged" T="string" Variant="Variant.Outlined" />
                <FieldDescription>The name of the trait should match the trait/property when importing items</FieldDescription>
                @if(FieldDefinition.TraitType != TraitType.Custom)
                {
                    <MudStack Row AlignItems="AlignItems.Center" Spacing="1">
                        <MudIcon Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Filled.Check"/>
                        <MudText Color="Color.Success" Typo="Typo.subtitle1">@FieldDefinition.TraitType</MudText>
                    </MudStack>
                }
            </Field>

            @* <Field> *@
            @*     <FieldHeader>Trait Type</FieldHeader> *@
            @*     <MudSelect Value="@FieldDefinition.TraitType" ValueChanged="OnTraitTypeChanged" T="TraitType" Variant="Variant.Outlined"> *@
            @*         <MudSelectItem Value="@TraitType.Custom">Custom</MudSelectItem> *@
            @*         <MudSelectItem Value="@TraitType.TestState">Custom</MudSelectItem> *@
            @*     </MudSelect> *@
            @*     <FieldDescription>The type of field defines what data can be stored and how it can be selected</FieldDescription> *@
            @* </Field> *@

            <Field>
                <FieldHeader>Description</FieldHeader>
                <MudTextField Value="@FieldDefinition.Description" ValueChanged="OnDescriptionChanged" T="string" Variant="Variant.Outlined" />
            </Field>

            <Field>
                <FieldHeader>Data Type</FieldHeader>
                <MudSelect Value="@FieldDefinition.Type" ValueChanged="OnTypeChanged" T="FieldType" Variant="Variant.Outlined">
                    <MudSelectItem Value="@FieldType.String">String</MudSelectItem>
                    <MudSelectItem Value="@FieldType.Boolean">Boolean</MudSelectItem>
                    <MudSelectItem Value="@FieldType.SingleSelection">Single Selection</MudSelectItem>
                    <MudSelectItem Value="@FieldType.MultiSelection">Multi Selection</MudSelectItem>
                    <MudSelectItem Value="@FieldType.StringArray">Chip Field</MudSelectItem>
                </MudSelect>
                <FieldDescription>The type of field defines what data can be stored and how it can be selected</FieldDescription>

                @if(FieldDefinition.Type == FieldType.SingleSelection || FieldDefinition.Type == FieldType.MultiSelection)
                {
                    <MudTextField Class="mt-3" Value="@_options" ValueChanged="OnOptionsChanged" T="string" Variant="Variant.Outlined" />
                    <FieldDescription>Options separated by comma (,)</FieldDescription>
                }
            </Field>


            <Field>
                <FieldHeader>Usage</FieldHeader>
                <MudStack Row="true">
                    <MudCheckBox 
                    Color="Color.Tertiary" T="bool" 
                    Value="@((FieldDefinition.Target&FieldTarget.TestCase) != 0)" ValueChanged="x => OnTargetChanged(FieldTarget.TestCase, x)">Test Case</MudCheckBox>

                    <MudCheckBox Color="Color.Tertiary" T="bool"
                    Value="@((FieldDefinition.Target&FieldTarget.Project) != 0)" ValueChanged="x => OnTargetChanged(FieldTarget.Project, x)">Project</MudCheckBox>

                    <MudCheckBox Color="Color.Tertiary" T="bool"
                    Value="@((FieldDefinition.Target&FieldTarget.TestCaseRun) != 0)" ValueChanged="x => OnTargetChanged(FieldTarget.TestCaseRun, x)">Test Case Run</MudCheckBox>
                </MudStack>
                <FieldDescription>The type of field defines what data can be stored and how it can be selected</FieldDescription>
            </Field>


            <MudStack Row="true" Wrap="Wrap.Wrap">
                <Field>
                    <FieldHeader>Visible</FieldHeader>
                    <MudSwitchM3 Value="FieldDefinition.IsVisible" ValueChanged="OnIsVisibleChanged" T="bool" Color="Color.Tertiary"></MudSwitchM3>
                    <FieldDescription>Shows the field in the user interface</FieldDescription>
                </Field>

                <Field>
                    <FieldHeader>Read-Only</FieldHeader>
                    <MudSwitchM3 Value="FieldDefinition.ReadOnly" ValueChanged="OnReadOnlyChanged" T="bool" Color="Color.Tertiary"></MudSwitchM3>
                    <FieldDescription>Read-Only fields cannot be edited in the user interface</FieldDescription>
                </Field>

                @if (FieldDefinition.IsVisible)
                {
                    <Field>
                        <FieldHeader>Show Description</FieldHeader>
                        <MudSwitchM3 Value="FieldDefinition.ShowDescription" ValueChanged="OnShowDescriptionChanged" T="bool" Color="Color.Tertiary"></MudSwitchM3>
                        <FieldDescription>Shows the description in the user interface</FieldDescription>
                    </Field>
                }
            </MudStack>

        </MudStack>

        <MudStack>
            <h3>Preview</h3>

            <FieldEditor @bind-Field="_dummy"/>
        </MudStack>
    }
</div>

@code {
    [Parameter] public FieldDefinition? FieldDefinition { get; set; }
    [Parameter] public EventCallback<FieldDefinition> FieldDefinitionChanged { get; set; }

    private string _options = "";
    private FieldValue _dummy = new FieldValue() { FieldDefinitionId = 0  };

    private async Task OnShowDescriptionChanged(bool showDescription)
    {
        if (FieldDefinition is not null)
        {
            FieldDefinition.ShowDescription = showDescription;
            await FieldDefinitionChanged.InvokeAsync(FieldDefinition);
        }
    }

    private async Task OnReadOnlyChanged(bool readOnly)
    {
        if (FieldDefinition is not null)
        {
            FieldDefinition.ReadOnly = readOnly;
            await FieldDefinitionChanged.InvokeAsync(FieldDefinition);
        }
    }

    private async Task OnIsVisibleChanged(bool isVisible)
    {
        if (FieldDefinition is not null)
        {
            FieldDefinition.IsVisible = isVisible;
            await FieldDefinitionChanged.InvokeAsync(FieldDefinition);
        }
    }

    protected override void OnParametersSet()
    {
        _dummy.FieldDefinition = FieldDefinition;

        _options = "";
        if(FieldDefinition?.Options is not null)
        {
            _options = string.Join(", ", FieldDefinition.Options);
        }
    }

    private async Task OnTargetChanged(FieldTarget value, bool enabled)
    {
        if (FieldDefinition is not null)
        {
            var flag = value;
            if(enabled)
            {
                FieldDefinition.Target |= value;
            }
            else
            {
                FieldDefinition.Target &= ~value;
            }
            await FieldDefinitionChanged.InvokeAsync(FieldDefinition);
        }
    }

    private async Task OnTypeChanged(FieldType value)
    {
        if (FieldDefinition is not null)
        {
            FieldDefinition.Type = value;
            await FieldDefinitionChanged.InvokeAsync(FieldDefinition);
        }
    }

    private async Task OnTraitTypeChanged(TraitType value)
    {
        if (FieldDefinition is not null)
        {
            FieldDefinition.TraitType = value;
            await FieldDefinitionChanged.InvokeAsync(FieldDefinition);
        }
    }

    private async Task OnDescriptionChanged(string value)
    {
        if (FieldDefinition is not null)
        {
            _options = value;
            FieldDefinition.Description = value;
            await FieldDefinitionChanged.InvokeAsync(FieldDefinition);
        }
    }
    private async Task OnOptionsChanged(string value)
    {
        if (FieldDefinition is not null)
        {
            _options = value;
            FieldDefinition.Options = _options.Split(',', StringSplitOptions.TrimEntries|StringSplitOptions.RemoveEmptyEntries).ToList();
            await FieldDefinitionChanged.InvokeAsync(FieldDefinition);
        }
    }
    private async Task OnTraitChanged(string value)
    {
        if (FieldDefinition is not null)
        {
            FieldDefinition.Trait = value;
            FieldDefinition.TraitType = TraitType.Custom;
            if(TraitTypeConverter.TryConvert(FieldDefinition.Trait, out var traitType))
            {
                FieldDefinition.TraitType = traitType.Value;
            }

            await FieldDefinitionChanged.InvokeAsync(FieldDefinition);
        }
    }
    private async Task OnNameChanged(string value)
    {
        if (FieldDefinition is not null)
        {
            FieldDefinition.Name = value;
            FieldDefinition.Trait = value.Replace(" ", "");
            FieldDefinition.TraitType = TraitType.Custom;
            if(TraitTypeConverter.TryConvert(FieldDefinition.Trait, out var traitType))
            {
                FieldDefinition.TraitType = traitType.Value;
            }

            await FieldDefinitionChanged.InvokeAsync(FieldDefinition);
        }
    }
}