
<Field>
    <MudLink Href="@Href" Style="width:100%" Class="field-link">

        <MudStack Row AlignItems="AlignItems.Start" Style="width: 100%">
            @if(!string.IsNullOrEmpty(Icon))
            {
                <FieldHeader Icon="@Icon">
                    <div class="tb-fields-name-description-tight">
                        <div>@HeaderText</div>
                        <FieldDescription>@Description</FieldDescription>
                    </div>
                </FieldHeader>
            }
            else
            {
                <FieldHeader>@HeaderText</FieldHeader>
            }
            <MudSpacer/>
            <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.ChevronRight" />
        </MudStack>

    </MudLink>
</Field>
@code {
    [Parameter] public string? Icon { get; set; }
    [Parameter] public string? Href { get; set; }
    [Parameter] public string? HeaderText { get; set; }
    [Parameter] public string? Description { get; set; }
}
